.para{
	background-color: #ddd;
	color: green;
}
.para{
	background-color:#ddd;
	color: black; 
}
#paragraph{
	background-color: #ddd;
	color:green;
}
.first,.second,.thrid,.fourth{
	border: 2px 
	solid #ddd;
	margin: 2px;
	width: 400px;
    text-align:"center";
}

img{
	width: 200px
	padding:10px;
}
.parent{
	display: flex;
	flex-direction: row-reverse;
}
/*media qurery for ph view*/
@media screen and (max-width: 425px){
	.parent{
		flex-direction: column;
	}
	.first{
		background-color: #c45e45
	}
}
/*tablet media query */
@media screen and (min-width: 426px) and (max-width: 768px){
	.parent{
		flex-direction: column;
		justify-content: space-between;
	}
	.first{
		background-color: #ddd;
		border-radius: 20px;
		width: 300px;
	}

}